{{ if .Error }}
  <h4> <strong>Error:</strong> {{ .Error }}</h4>
{{ else }}
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item"><img src="{{ .Poster }}" class="img-rounded" alt="{{ .Title }}" style="height: 120px;width: 120px;"> </li>
        <li class="list-group-item"> <strong>Year:</strong> {{ .Year }} </li>
        <li class="list-group-item">  <strong>Released:</strong> {{ .Released }} </li>
        <li class="list-group-item">  <strong>Genre:</strong> {{ .Genre }} </li>
        <li class="list-group-item">  <strong>Director:</strong> {{ .Director }} </li>
        <li class="list-group-item">  <strong>Actors:</strong> {{ .Actors }} </li>
        <li class="list-group-item">  <strong>Writer:</strong> {{ .Writer }} </li>
        <li class="list-group-item">  <strong>Plot:</strong> {{ .Plot }} </li>
        <li class="list-group-item">  <strong>Language:</strong> {{ .Language }} </li>
        <li class="list-group-item">  <strong>IMDB Rating:</strong> {{ .ImdbRating }} </li>
        <li class="list-group-item">  <strong>IMDB Votes:</strong> {{ .ImdbVotes }} </li>
        <li class="list-group-item">  <strong>Runtime:</strong> {{ .Runtime }} </li>
        <li class="list-group-item">  <strong>Rated:</strong> {{ .Rated }} </li>
      </ul>
    </div>
  </div>
{{ end }}
