{{ define "movie_item" }}

<div class="card">
  <div class="card-body">
    <h2> <a href="" onclick='showMovieDetails("{{ .ImdbID}}", "{{ .Title}}")' data-toggle="modal" data-target="#myModal"> {{ .Title }}</a></h2>

    <button type="submit" class="btn btn-default" id="{{ .ImdbID }}" onclick='addItemToMyList("{{ .ImdbID}}")'>Add to my list</button>
    </br>

    <img src="{{ .Poster }}" class="img-rounded" alt="{{ .Title }}" style="height: 120px;width: 120px;">
  </div>
</div>

{{ end }}